

.mail {
    gap: 24px;
}


.phoneNumber {
    width: 138px;
    height: 48px;
    box-sizing: border-box;
    padding-right: 8px;
    overflow: hidden;
    direction: ltr;
}



.closeBtn {
    background: #B8B8B8;
    height: 50px;
    width: 50px;
    justify-items: center;
}

.theNumber {
    width: 539px;
    height: 48px;
}


.phoneNumberVerfi {
    transform: translateX(10%);
    position: fixed;

}

.phoneNumberVerfi .phoneMsg {
    background: #F3F3F3;
    font-weight: bold;
    height: 434px;
    width: 588px;
    align-content: center;
}


.numBg {
    width: 85.75px;
    height: 108.45px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background: #FFFFFF;

}

.nums {
    font-size: 66px;
    color: #C20101;
    font-weight: 500;
}
.phone-input-container {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: space-between;
}

.phone-input-item {
    flex: 1; 
    min-width: 250px; 
}

.verify-btn {
    background-color: black;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    min-width: 120px; 
}



@media (max-width: 650px) {

    .phone-input-container {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .phone-input-item {
        max-width: 100%;
    }

    .verify-btn {
        width: 100%;
    }
    .rightSection {
        width: 100% !important;
    }

    .phoneNumberVerfi{
        justify-content: initial !important;
    }

    .phoneNumberVerfi .phoneMsg {
        width: 80%; 
        height: auto;  
        padding: 16px; 
    }

    .numBg {
        width: 60px; 
        height: 80px; 
        border-radius: 12px; 
    }

    .nums {
        font-size: 36px; 
    }

    .closeBtn {
        height: 40px;
        width: 40px;
    }

}

/* For 13" MacBook (1280px width) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .rightSection {
        width: 100% !important;
    }
    
    .mainVerf {
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 114px;
        padding: 20px;
        width: 940px;
        background-color: rgb(236, 236, 236);
    }
}

/* For MacBook Pro 15" or 16" (1440px width and up) */
@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .rightSection {
        width: 100% !important;
    }
    
    .mainVerf {
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 114px;
        padding: 20px;
        width: 940px;
        background-color: rgb(236, 236, 236);
    }
}

@media (min-width: 992px) {
    .col-lg-9 {
        flex: 0 0 auto;
        width: 65% !important;
    }
}