/* صندوق التسجيل */
.verfi5 .signup-container {
    background: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* العناوين */
.verfi5 .signup-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #202020;
    text-align: center;
    margin-bottom: 10px;
}

.verfi5 .signup-container p {
    font-size: 14px;
    color: #606060;
    text-align: center;
    margin-bottom: 20px;
}

/* النموذج */
.verfi5 .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.verfi5 .form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #404040;
}

.verfi5 .form-group input,
.verfi5 .form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.verfi5 .form-group input:focus,
.verfi5 .form-group select:focus {
    border-color: #C20101;
    box-shadow: 0px 0px 5px rgba(194, 1, 1, 0.3);
    outline: none;
}

.verfi5 .form-group label {
    display: inline-flex;
    align-items: center;
}


.verfi5 i {
    display: flex;
    align-items: center;
    justify-content: center;
}


.verfi5-new-btns {
    align-items: center;
}

@media (max-width: 768px) {
    .verfi5 .signup-container {
        padding: 20px;
    }

    .verfi5 .bg-light button {
        width: 100%;
    }

    .form-group {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        /* يمنع نزول العناصر تحت بعض */
    }

    .form-group>div {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .form-group input[type="checkbox"] {
        margin-left: 8px;
        /* يبعد الـ checkbox شوية عن النص */
    }
}